# Exercício de Programação 5: Regressão

<font color="red">**Prazo de submissão: 23:55 do dia 16/03/2021** </font>

2020.2 Álgebra Linear Computacional - DCC - UFMG

Erickson - Fabricio

Instruções:
* Antes de submeter suas soluções, certifique-se de que tudo roda como esperado. Primeiro, **reinicie o kernel** no menu, selecione Kernel$\rightarrow$Restart e então execute **todas as células** (no menu, Cell$\rightarrow$Run All)
* Apenas o arquivo .ipynb deve ser submetido. Ele não deve ser compactado.
* Não deixe de preencher seu nome e número de matrícula na célula a seguir

**Nome do aluno:** Rodrigo Ferreira Araújo

**Matricula:** 2020006990

## Carregando os dados

Iremos carregar os dados usando a biblioteca ```pandas```. Não se preocupe se você não conhece a biblioteca, pois o nosso objetivo é apenas extrair a matriz de dados $X$. Segue uma descrição do dataset, retirada [daqui](http://statweb.stanford.edu/~owen/courses/202/Cereals.txt).

* Datafile Name: Cereals
* Datafile Subjects: Food , Health
* Story Names: Healthy Breakfast
* Reference: Data available at many grocery stores
* Authorization: free use
* Description: Data on several variable of different brands of cereal.

A value of -1 for nutrients indicates a missing observation.
Number of cases: 77
Variable Names:

  1. Name: Name of cereal
  2. mfr: Manufacturer of cereal where A = American Home Food Products; G =
     General Mills; K = Kelloggs; N = Nabisco; P = Post; Q = Quaker Oats; R
     = Ralston Purina
  3. type: cold or hot
  4. calories: calories per serving
  5. protein: grams of protein
  6. fat: grams of fat
  7. sodium: milligrams of sodium
  8. fiber: grams of dietary fiber
  9. carbo: grams of complex carbohydrates
  10. sugars: grams of sugars
  11. potass: milligrams of potassium
  12. vitamins: vitamins and minerals - 0, 25, or 100, indicating the typical percentage of FDA recommended
  13. shelf: display shelf (1, 2, or 3, counting from the floor)
  14. weight: weight in ounces of one serving
  15. cups: number of cups in one serving
  16. rating: a rating of the cereals

In [15]:
#Execute esta célula para instalar o pandas caso já não tenha instalado
# import sys
# !{sys.executable} -m pip install --user pandas

In [16]:
import pandas as pd
df = pd.read_table('cereal.txt',sep='\s+',index_col='name')
df

                          mfr type  calories  ...  weight  cups     rating
name                                          ...
100%_Bran                   N    C        70  ...     1.0  0.33  68.402973
100%_Natural_Bran           Q    C       120  ...     1.0  1.00  33.983679
All-Bran                    K    C        70  ...     1.0  0.33  59.425505
All-Bran_with_Extra_Fiber   K    C        50  ...     1.0  0.50  93.704912
Almond_Delight              R    C       110  ...     1.0  0.75  34.384843
...                        ..  ...       ...  ...     ...   ...        ...
Triples                     G    C       110  ...     1.0  0.75  39.106174
Trix                        G    C       110  ...     1.0  1.00  27.753301
Wheat_Chex                  R    C       100  ...     1.0  0.67  49.787445
Wheaties                    G    C       100  ...     1.0  1.00  51.592193
Wheaties_Honey_Gold         G    C       110  ...     1.0  0.75  36.187559

[77 rows x 15 columns]

A seguir iremos remover as linhas correspondentes aos cereais que possuem dados faltantes, representados pelo valor -1.
Também iremos remover as colunas com dados categóricos 'mfr' e 'type', e os dados numéricos, 'shelf', 'weight' e 'cups'.

In [17]:
import numpy as np
new_df = df.replace(-1,np.nan)
new_df = new_df.dropna()
new_df = new_df.drop(['mfr','type','shelf','weight','cups'],axis=1)
new_df

                           calories  protein  fat  ...  potass  vitamins     rating
name                                               ...
100%_Bran                        70        4    1  ...   280.0        25  68.402973
100%_Natural_Bran               120        3    5  ...   135.0         0  33.983679
All-Bran                         70        4    1  ...   320.0        25  59.425505
All-Bran_with_Extra_Fiber        50        4    0  ...   330.0        25  93.704912
Apple_Cinnamon_Cheerios         110        2    2  ...    70.0        25  29.509541
...                             ...      ...  ...  ...     ...       ...        ...
Triples                         110        2    1  ...    60.0        25  39.106174
Trix                            110        1    1  ...    25.0        25  27.753301
Wheat_Chex                      100        3    1  ...   115.0        25  49.787445
Wheaties                        100        3    1  ...   110.0        25  51.592193
Wheaties_Honey_Gold             110        2    1  ...    60.0        25  36.187559

[74 rows x 10 columns]

Finalmente, iremos converter os dados nutricionais numéricos de ```new_df``` para uma matriz ```dados``` e as avaliações (ratings) para um vetor $y$. Os nomes dos cereais serão salvos em uma lista ```cereral_names``` e os nomes das colunas em uma lista ```col_names```.

In [18]:
cereral_names = list(new_df.index)
print('Cereais:',cereral_names)
col_names = list(new_df.columns)
print('Colunas:',col_names)

dados = new_df.drop('rating', axis=1).values
print('As dimensões de dados são:',dados.shape)
y = new_df['rating'].values
print('As dimensões de y são:',y.shape)

Cereais: ['100%_Bran', '100%_Natural_Bran', 'All-Bran', 'All-Bran_with_Extra_Fiber', 'Apple_Cinnamon_Cheerios', 'Apple_Jacks', 'Basic_4', 'Bran_Chex', 'Bran_Flakes', "Cap'n'Crunch", 'Cheerios', 'Cinnamon_Toast_Crunch', 'Clusters', 'Cocoa_Puffs', 'Corn_Chex', 'Corn_Flakes', 'Corn_Pops', 'Count_Chocula', "Cracklin'_Oat_Bran", 'Crispix', 'Crispy_Wheat_&_Raisins', 'Double_Chex', 'Froot_Loops', 'Frosted_Flakes', 'Frosted_Mini-Wheats', 'Fruit_&_Fibre_Dates,_Walnuts,_and_Oats', 'Fruitful_Bran', 'Fruity_Pebbles', 'Golden_Crisp', 'Golden_Grahams', 'Grape_Nuts_Flakes', 'Grape-Nuts', 'Great_Grains_Pecan', 'Honey_Graham_Ohs', 'Honey_Nut_Cheerios', 'Honey-comb', 'Just_Right_Crunchy__Nuggets', 'Just_Right_Fruit_&_Nut', 'Kix', 'Life', 'Lucky_Charms', 'Maypo', 'Muesli_Raisins,_Dates,_&_Almonds', 'Muesli_Raisins,_Peaches,_&_Pecans', 'Mueslix_Crispy_Blend', 'Multi-Grain_Cheerios', 'Nut&Honey_Crunch', 'Nutri-Grain_Almond-Raisin', 'Nutri-grain_Wheat', 'Oatmeal_Raisin_Crisp', 'Post_Nat._Raisin_Bran', 'Product_19', 'Puffed_Rice', 'Puffed_Wheat', 'Quaker_Oat_Squares', 'Raisin_Bran', 'Raisin_Nut_Bran', 'Raisin_Squares', 'Rice_Chex', 'Rice_Krispies', 'Shredded_Wheat', "Shredded_Wheat_'n'Bran", 'Shredded_Wheat_spoon_size', 'Smacks', 'Special_K', 'Strawberry_Fruit_Wheats', 'Total_Corn_Flakes', 'Total_Raisin_Bran', 'Total_Whole_Grain', 'Triples', 'Trix', 'Wheat_Chex', 'Wheaties', 'Wheaties_Honey_Gold']
Colunas: ['calories', 'protein', 'fat', 'sodium', 'fiber', 'carbo', 'sugars', 'potass', 'vitamins', 'rating']
As dimensões de dados são: (74, 9)
As dimensões de y são: (74,)

## Estimando os parâmetros da regressão linear simples

Qual será a relação entre a avaliação $y$ e o número de calorias $x$ de um cereal? Para responder esta pergunta, considere uma regressão linear simples
$$
y = \beta_0 + \beta_1 x.
$$
Para encontrar os coeficientes $\beta_0$ e $\beta_1$ utilizando o método dos mínimos quadrados, basta resolver o sistema
$$
\begin{bmatrix}
n & \sum_i x^{(i)} \\
\sum_i x^{(i)} & \sum_i (x^{(i)})^2
\end{bmatrix}
\begin{bmatrix}
\beta_0 \\ \beta_1
\end{bmatrix}
=
\begin{bmatrix}
\sum_i y^{(i)} \\ \sum_i x^{(i)} y^{(i)}
\end{bmatrix}
$$

Portanto, para encontrar $\beta_0$ e $\beta_1$, você precisa
1. Calcular a matriz
$$
A = \begin{bmatrix}
n & \sum_i x^{(i)} \\
\sum_i x^{(i)} & \sum_i (x^{(i)})^2
\end{bmatrix}
$$
e o vetor
$$
c = \begin{bmatrix}
\sum_i y^{(i)} \\ \sum_i x^{(i)} y^{(i)}
\end{bmatrix}
$$
2. Resolver $A \beta = c$, onde $\beta$ é o vetor de coeficientes.

**Exercício 1 - Regressão simples:** Encontre os coeficientes $\beta_0$ e $\beta_1$ quando a variável independente é ```calories```. Dica: A variavel X abaixo já armazena os valores deste atributo.

In [19]:
X = new_df['calories'].values
import numpy as np

ones = np.ones(X.shape[0]).reshape(X.shape[0],1)
A = np.append(ones, X.reshape(X.shape[0],1), axis=1)

# Expressão analítica
inv = np.linalg.inv(A.T @ A)
mu_x = np.mean(A[:,1])
mu_y = np.mean(y)
beta_1 = ((A[:,1] - mu_x) @ (y - mu_y)) / (np.sum(np.square(A[:,1] - mu_x)))
beta_0 = mu_y - beta_1 * mu_x

# vetor de coeficientes = (AtA)^-1(Aty)
beta_vector = inv @ A.T @ y

print(beta_0, beta_1, '\n\n', beta_vector)

94.88442776588944 -0.49064841182775487

 [94.88442777 -0.49064841]

**Exercício 2 - Regressão múltipla:** Considerando a nova tabela de dados X abaixo com os atributos 'calories', 'protein', 'fat', 'sugars' e 'vitamins' selecionados, estime os parâmetros da regressão múltipla para obter a variavel resposta ```rating```

In [20]:
X = new_df.loc[:,['calories', 'protein', 'fat', 'sugars', 'vitamins']].values

ones_2 = np.ones(X.shape[0]).reshape(X.shape[0],1)
A_new = np.append(ones, X, axis=1)

inv_2 = np.linalg.inv(A_new.T @ A_new)
beta_vector_2 = inv_2 @ A_new.T @ y

print(beta_vector_2)

[69.6495031  -0.2618972   5.55855063 -2.8585006  -1.14383072 -0.07675886]

**Exercício 3:** Nossos modelos de regressão linear são bons preditores da nota de avaliação do cereal? Qual o melhor modelo? Calcule os coeficientes de determinação e faça uma análise dos valores obtidos para responder a estas perguntas.

In [21]:
# insira seu código aqui

y_hat = A @ beta_vector.reshape(2,1)

num = np.square(np.linalg.norm(  y.reshape(74,1) - y_hat  ))
den = np.square(np.linalg.norm(  y.reshape(74,1) - (mu_y * ones)  ))

R_squared_1 = 1 - (num/den)

# Coeficiente de determinação para regressão simples
print('Coeficiente de determinação para regressão simples: \n', R_squared_1)

y_hat_2 = A_new @ beta_vector_2.reshape(6,1)

num_2 = np.square(np.linalg.norm(  y.reshape(74,1) - y_hat_2  ))
den_2 = np.square(np.linalg.norm(  y.reshape(74,1) - (mu_y * ones_2)  ))

R_squared_2 = 1 - (num_2/den_2)

# Coeficiente de determinação para regressão múltipla
print('Coeficiente de determinação para regressão múltipla: \n', R_squared_2)


## Pela análise dos coeficientes de determinação para as respectivas regressões, nota-se que, usando R ao quadrado, temos que o coeficiente da regressão
## múltipla aproxima-se mais de 1 do que o da simples. Nesse sentido, ao usar um modelo com mais features,
## conseguimos ter uma melhor previsão da nota de avaliação do cereal.

Coeficiente de determinação para regressão simples:
 0.4813371585498133
Coeficiente de determinação para regressão múltipla:
 0.8337963187084578